@import '../../styles/settings.scss';
@import './styles/settings.scss';

.title {
    font-size: ($base-size * 2.5);
    text-transform: uppercase;
    color: $color-light;

    span {
        font-size: 75%;
        line-height: 0;
        position: relative;
        vertical-align: baseline;
        top: -$base-size;
    }
}